$colorBlackMain: rgb(41, 47, 54);
$colorBlackSoft: rgb(77, 80, 83);

@mixin text-style($font-weight: 400, $font-size: 14px, $color: black) {
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

// шапка

.header {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.head-nav {
  &_right {
    width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  &_right-text {
    @include text-style(400, 20px, $colorBlackMain);
  }
  &_left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &_left-text {
    font-family: "DM Serif Display", serif;
    @include text-style(400, 40px, $colorBlackMain);
  }
}

// главная часть 
// первая картинка

.firstPart {
  padding-top: 57px;
  &_box {
    background-image: url(pics/main.webp);
    border-radius: 70px;
    background-size: cover;
    background-position: center 47%;
    width: 1200px;
    height: 758px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &_h1 {
    @include text-style(400, 65px, $colorBlackMain);
    padding-bottom: 18px;
    padding-left: 52px;
  }
  &_p {
    @include text-style(400, 22px, $colorBlackSoft);
    padding-bottom: 22px;
    padding-left: 52px;
  }
  &_button {
    margin-left: 52px;
    width: 182.14px;
    height: 75px;
    border-radius: 18px;
    border-style: none;
    background-color: $colorBlackMain;
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    @include text-style(600, 18px, white);
  }
}

// 4 картинки

.PP1 {
  background-image: url(pics/secondPart-1.webp);
  width: 548px;
  height: 525px;
  border-radius: 0 80px 0 0;
  background-size: 125%;
  background-position: 75% 53%;
  background-repeat: no-repeat;
}

.PP2 {
  background-image: url(pics/secondPart-2.webp);
  width: 548px;
  height: 525px;
  border-radius: 80px 0 0 0;
  background-size: 170%;
  background-position: 15% 55%;
  background-repeat: no-repeat;
}

.PP3 {
  background-image: url(pics/secondPart-3.webp);
  width: 548px;
  height: 525px;
  border-radius: 0 0 80px 0;
  background-size: 125%;
  background-position: 58% 55%;
  background-repeat: no-repeat;
}

.PP4 {
  background-image: url(pics/secondPart-4.webp);
  width: 548px;
  height: 525px;
  border-radius: 0 0 0 80px;
  background-size: 135%;
  background-position: 70% 48%;
  background-repeat: no-repeat;
}

.secondPart {
  padding-bottom: 96px;
  &_text {
    padding-top: 96px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 93px;
  }
  &_text-h {
    @include text-style(400, 50px, $colorBlackMain);
  }
  &_text-p {
    @include text-style(400, 22px, $colorBlackSoft);
  }
  &_grid {
    display: grid;
    grid-template-columns: 548px 548px;
    grid-template-rows: 619px 619px;
    gap: 56px 104px;
    grid-template-areas:
    ". ."
    ". .";
    justify-content: center;
  }
  &_plate-down {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    &_text {
      display: flex;
      flex-direction: column;
      gap: 4px
    }
    &_text-h {
      @include text-style(400, 25px, $colorBlackMain);
    }
    &_text-p {
      @include text-style(400, 22px, $colorBlackSoft);
    }
    &_button {
      width: 70px;
      height: 70px;
      background-color: rgb(244, 240, 236);
      border-radius: 90px;
      border: none;
    }
  }
}

// плашка во весь экран

.thirdPart {
  background-color: #F4F0EC;
  &_box {
    // gap: 152px;
    padding-top: 151px;
    padding-bottom: 151px;
    display: flex;
    justify-content: space-around;
  }
  &_numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-right: 70px;
    border-right: #CDA274 1px solid;
    &_h {
      @include text-style(400, 85px, #CDA274);
    }
    &_p {
      @include text-style(400, 22px, $colorBlackSoft);
    }
  }
}

.border-none {
  border: none;
  padding-right: 0px;
}

// новости

.AP1 {
  background-image: url(pics/add-pic-1.webp);
  width: 340px;
  height: 290px;
  border-radius: 45px 45px 0 0;
  background-size: 185%;
  background-position: 55% 55%;
  background-repeat: no-repeat;
  margin: 21px 21px 0px 21px;
}

.AP2 {
  background-image: url(pics/add-pic-2.webp);
  width: 340px;
  height: 290px;
  border-radius: 45px 45px 0 0;
  background-size: 170%;
  background-position: 50% 55%;
  background-repeat: no-repeat;
  margin: 21px 21px 0px 21px;
}

.AP3 {
  background-image: url(pics/add-pic-3.webp);
  width: 340px;
  height: 290px;
  border-radius: 45px 45px 0 0;
  background-size: 270%;
  background-position: 53% 45%;
  background-repeat: no-repeat;
  margin: 21px 21px 0px 21px;
}

.fourthPart {
  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 96px;
    &_h {
      @include text-style(400, 50px, $colorBlackMain);
    }
    &_p {
      @include text-style(400, 22px, $colorBlackSoft);
    }
  }
  &_add-card {
    width: 380px;
    height: 519px;
    border: 1px solid #E7E7E7;
    border-radius: 65px 65px 65px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &_pp{
      position: absolute;
      top: 261.5px;
      left: 45px;
      background-color: white;
      border-radius: 8px 8px 8px 0px;
      padding: 5px;
    }
    &_h {
      padding-left: 21px;
      padding-top: 21px;
      padding-bottom: 30px;
      @include text-style(400, 25px, #292F36);
    }
    &_down {
      display: flex;
      gap: 65px;
      align-items: center;
      &_p {
        width: 223px;
        height: 33px;
        @include text-style(400, 16px, rgb(77, 80, 83));
      }
      &_button {
        width: 52px;
        height: 52px;
        background-color: rgb(244, 240, 236);
        border-radius: 90px;
        border: none;
      }
    }
  }
  &_adds {
    padding-top: 52px;
    display: flex;
    gap: 27px;
    padding-bottom: 33px;
  }
}

.second-child {
  background-color:rgb(244, 240, 236);
}

.second-child-button {
  background-color: white;
}

// подвал

.footer {
  &_collection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  &_collection-part {
    width: 350px;
    &_social {
      font-family: "DM Serif Display", sans-serif;
      @include text-style(400, 40px, #292F36);
      &_icons {
        display: flex;
        gap: 150px;

        align-items: center;
      }
    }
    &_nav {
      @include text-style(400, 25px, #292F36);
      &_part {
        @include text-style(400, 22px, #292F36);
      }
    }
    &_contacts {
      list-style-type: none;
      @include text-style(400, 25px, $colorBlackMain);
      display: flex;
      flex-direction: column;
      gap: 26px;
      &_part {
        @include text-style(400, 22px, rgb(77, 80, 83));
      }
    }
  }

}


